* {
    box-sizing: border-box;
}

html {
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family:'Special Elite', cursive;
}

@media (max-width: 600px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 601px) and (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1601px) and (max-width: 2400px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 2401px) {
    html {
        font-size: 36px;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #fe6a70;
    position: relative;
    color: #ffffff;
}

.additional-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 10px 5px #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 8rem;
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 2.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
    flex-shrink: 1;
}

.card {
    aspect-ratio: 1 / 1;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 2rem 8rem;
}

@-webkit-keyframes image_blur {
    0% { -webkit-filter: blur(0px);}
    50%; { -webkit-filter: blur(5px);}
    100% { -webkit-filter: blur(0px);}
}

.answer {
    font-size: 3rem;
    color: transparent;
    text-shadow: 0 0 1.5rem #eee;
    transition: all 0.35s ease;
    padding: 0.2rem;
    box-shadow: 0 0 10px 5px #fff;
    border-radius: 0.4rem;
    line-height: 4rem;
    min-width: 20rem;
    text-align: center;
}

.answer:hover {
    color: #eee;
    text-shadow: none;
}

.answer-image {
    position: fixed;
    bottom: 10rem;
    left: calc(50% - 150px);
    display: none;
}

.prev {
    font-size: 10rem;
    position: absolute;
    left: 5px;
    top: 50%;
    cursor: pointer;
}

.prev:hover {
    color: antiquewhite;
}

.next {
    font-size: 10rem;
    position: absolute;
    right: 5px;
    top: 50%;
    cursor: pointer;
}

.next:hover {
    color: antiquewhite;
}

