* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, #ea0202 50%, #0411da 50%);
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  padding: 10px;
}

.first-level, .second-level {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  background: #fed400;
  border-radius: 8px;
  cursor: pointer;
}

.content {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

.miss-left-wrapper, .miss-right-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 30px;
}

.miss-left {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 12px;
  background: #fefb99;
  width: 120px;
  height: 120px;
  font-size: 40px;
  color: #ea0202;
  cursor: pointer;
}

.miss-left.selected {
  background: #eb8700;
}

.miss-right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 12px;
  background: #fefb99;
  width: 120px;
  height: 120px;
  font-size: 40px;
  color: #0411da;
  cursor: pointer;
}

.miss-right.selected {
  background: #eb8700;
}

.table {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 30px;
  row-gap: 10px;
}

.table .item {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 12px;
  font-size: 24px;
  background: #03015f;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.table .item.opened {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 12px;
  font-size: 24px;
  background: #fefb99;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

